.container{
    border-style: groove;
}

.page-header{
    text-align: center;
    padding: 20px;
font-style: Sans-serif;
}

.col-md-3{
    border-style: groove;
}

body{
    background-color: rgb(229, 236, 231);
    color:rgb(15, 9, 9);
    font-size: medium;
}

